{% extends 'layout.html' %} {% block content %} {% load static%}

<header class="row bg-black">
  <div class="col-md-4">
    <img
      src="{% static 'portfolio/iko-removebg-preview.png' %}"
      class="img-fluid m-2"
      alt=""
    />
  </div>
  <div class="col-md-8 my-auto">
    <h1>I am <strong>Ricko Yogga</strong></h1>
    <h3>I am a <strong>Web Developer</strong></h3>
    <p>
      I am Ricko Yogga Prima Perdana, I graduated from Informatics Engineering
      STMIK Bani Saleh December 2017. I have been doing Python for 1 year. I am
      an enthusiastic Python developer who enjoys writing Pythonic code. I have
      mastered Python Technology with Django framework and PHP with Laravel
      framework
    </p>
    <a
      href="{% static 'portfolio/RICKO_YOGGA.pdf.pdf' %}"
      class="btn btn-primary btn-lg rounded-0 my-3"
      >Download CV</a
    >
  </div>
</header>

<div class="row my-4 text-center">
  <h3>My Project</h3>
  <p>
    The following are some of the portfolio projects that I have made :
  </p>

  {% for project in projects %}

  <div class="col-md-4 p-4">
    <div class="card bg-black card-project">
      <div class="card-body">
        <img
          src="{{ project.image.url }}"
          alt="{{ project.title }}"
          class="card-img-top"
        />
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>

        {% if project.url %}
        <a
          href="{{ project.url }}"
          class="btn btn-light rounded-0 btn-sm"
          target="_blank"
          >{{ project.url }}</a
        >
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %} {% endblock %}
</div>
